



<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { class: "bg-gray-500 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md " }) do |f| %>
  <%= render "empresas/shared/error_messages", resource: resource %>

  <section class="flex flex-col justify-center items-center bg-gray-500 text-white">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Cadastro de Empresa</h2>


    <div class="field">
      <%= f.label :nome_fantasia %><br />
      <%= f.text_field :nome_fantasia, autofocus: true, class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :razao_social %><br />
      <%= f.text_field :razao_social, class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :cnpj %><br />
      <%= f.text_field :cnpj, class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :telefone %><br />
      <%= f.text_field :telefone, class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :setor %><br />
      <%= f.text_field :setor, class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <% if @minimum_password_length %>
        <em class="text-sm text-gray-300">(<%= @minimum_password_length %> caracteres no mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="actions">
      <%= f.submit "Cadastrar", class: "w-full bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 mt-2 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="w-fit bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-6 mt-2 rounded focus:outline-none focus:shadow-outline" >
    <%= render "empresas/shared/links"%>
    </div>
  </section>
<% end %>
  