
<% if @empresa.errors.any? %>
  <div id="error_explanation" class="fixed top-5 right-5 w-fit bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded-lg shadow-sm z-50">
    <h2 class="text-lg font-semibold mb-2">
      <%= I18n.t("errors.messages.not_saved",
                 count: @empresa.errors.count,
                 resource: @empresa.class.model_name.human.downcase) %>
    </h2>
    <ul class="list-disc pl-5">
      <% @empresa.errors.full_messages.each do |message| %>
        <li class="text-sm">
          <%= message %>
        </li>
      <% end %>
    </ul>
    <button id="close_error" class="absolute top-2 right-2 text-sm text-red-700 hover:text-red-900 focus:outline-none">
      Fechar
    </button>
  </div>

  <script>
    // Fecha automaticamente após 5 segundos
    setTimeout(function() {
      const errorElement = document.getElementById('error_explanation');
      if (errorElement) {
        errorElement.style.display = 'none';
      }
    }, 5000);

    // Fecha o pop-up quando o botão de "Fechar" é clicado
    const closeButton = document.getElementById('close_error');
    if (closeButton) {
      closeButton.addEventListener('click', function() {
        const errorElement = document.getElementById('error_explanation');
        if (errorElement) {
          errorElement.style.display = 'none';
        }
      });
    }
  </script>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { class: "bg-white   px-8  w-full max-w-md " }) do |f| %>
 

    <div class="absolute top-0 right-0 w-1/3 h-2/3 bg-yellow-500 z-[-1]" 
        style="clip-path: polygon(100% 0, 0 0, 100% 100%);">
    </div>

    <!-- Forma Preta -->
    <div class="absolute bottom-4 right-0 w-1/2 h-2/3 bg-black  z-[-1]" 
        style="clip-path: polygon(0 100%, 100% 100%, 100% 0);">
    </div>

  <section class="flex flex-col justify-start items-start bg-white text-black space-y-2">
    <h2 class="text-5xl font-bold text-center mb-2 text-black whitespace-nowrap">Cadastro de Empresa</h2>
    <hr class="border-[#FAB300] my-2 w-[500px] border-t-2">


    <div class="field">
      <%= f.label :nome_fantasia %>
      <%= f.text_field :nome_fantasia, autofocus: true, class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :razao_social,"Razão Social" %>
      <%= f.text_field :razao_social, class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :cnpj,"CNPJ" %>
      <%= f.text_field :cnpj, class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :telefone %>
      <%= f.text_field :telefone, class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :setor %>
      <%= f.text_field :setor, class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field ">
    <div class="flex flex-row space-x-4">
        <%= f.label :password, "Senha" %>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-300">(<%= @minimum_password_length %> caracteres no mínimo)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-92 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
    </div>

    <div class="actions">
      <%= f.submit "Cadastrar", class: "w-64 h-12 bg-[#FAB300] shadow-lg hover:bg-orange-700 text-white font-bold py-2 px-4 mt-2 rounded-lg focus:outline-none focus:shadow-outline" %>
    </div>


    <%= render "empresas/shared/links"%>

  </section>
<% end %>
  