<div class="flex items-center justify-center min-h-screen pb-56">
  <%= form_with model: [@vaga.empresa, @vaga], local: true, html: { class: "bg-white px-8 pt-6 pb-8 mb-4 w-full max-w-md" } do |form| %>

    <!-- Forma preta -->
    <div class="absolute top-0 right-0 w-6/8 h-1/3 bg-black" 
          style="clip-path: polygon(100% 0, 0 0, 100% 100%);">
    </div>

    <!-- Forma amarela -->
    <div class="absolute bottom-0 left-0 w-6/8 h-2/3 bg-yellow-500" 
          style="clip-path: polygon(43% 100%, 0 0, 0 100%);">
    </div>

    <!-- Forma Cinza -->
    <div class="absolute bottom-0 right-0 w-6/8 h-2/3 bg-gray-200" 
          style="clip-path: polygon(100% 43%, 56% 100%, 100% 100%);">
    </div>

    <section class="flex flex-col justify-center items-center bg-white text-black">
      <h1 class="text-4xl font-semibold text-center text-black whitespace-nowrap">Editar Vaga</h1>
      <hr class="border-[#FAB300] my-2 w-[500px] border-t-2">

      <div class="field mb-4">
        <%= form.label :titulo, class: "font-semibold text-sm" %><br />
        <%= form.text_field :titulo, class: "w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
      </div>

      <div class="field mb-4">
        <%= form.label :descricao, class: "font-semibold text-sm" %><br />
        <%= form.text_area :descricao, class: "w-full h-64 px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
      </div>

      <div class="field mb-4">
        <%= form.label :salario, class: "font-semibold text-sm" %><br />
        <%= form.text_field :salario, class: "w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
      </div>

      <div class="field mb-4">
        <%= form.label :localizacao, class: "font-semibold text-sm" %><br />
        <%= form.text_field :localizacao, class: "w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-300" %>
      </div>

      <div class="actions mt-6">
        <%= form.submit 'Atualizar Vaga', class: "w-full bg-[#FAB300] hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    </section>
  <% end %>
</div>
