<div class="flex items-center justify-center min-h-screen pb-56">
    


  <section class="flex flex-col justify-center items-center bg-white text-black p-24 rounded-xl shadow-2xl relative z-10">
      <div class="actions mt-4 absolute z-1 top-6 left-0 mb-4"> 
       <%= link_to ' ← Voltar', request.referrer || candidato_dashboard, class: "w-36 text-center  text-black font-medium py-2 px-4 underline" %>
     </div>


  <h2 class="text-3xl font-bold text-black mb-4 text-center">Detalhes da Vaga</h2>
   <hr class="border-t-2 w-[30rem] border-[#FAB300] my-4">

    <h2 class="text-3xl font-bold text-[#FAB300] mb-4 text-center"><%= @vaga.titulo %></h2>

    <div class="text-lg text-black mb-4">
      <p><strong>Descrição:</strong> <%= @vaga.descricao %></p>
      <p><strong>Salário:</strong> <%= @vaga.salario %></p>
      <p><strong>Localização:</strong> <%= @vaga.localizacao %></p>
    </div>



  </section>
</div>
