
<nav class="flex flex-row justify-between items-center fixed top-0 left-0 right-0 bg-white z-10 border-b-4 border-[#FAB300] ">
  <div class="flex flex-row items-center content-center space-x-4">
    <%= image_tag("/images/Businessman.png", class: "w-20 h-20 text-black text-4xl mb-4 items-center") %>
    <div class="flex flex-col">
      <h1 class="text-[#FAB300] text-2xl font-bold "> <%= current_candidato.nome %> </h1>
      <p class="font-semibold">Email: <%= current_candidato.email %></p>
    </div>
    

  </div>
  
      <div class="flex flex-col space-y-2">
          <%= link_to 'Editar Perfil', edit_candidato_registration_path, class: "bg-blue-800 px-10  w-64  text-xl rounded-xl text-white text-center items-center content-center justify-center font-medium mr-32" %>
          <%= form_with url: destroy_candidato_session_path, method: :delete do %>
            <%= submit_tag 'Sair',class: "bg-black w-64 h-12 text-xl rounded-xl text-white text-center items-center content-center justify-center font-medium mr-32" %>
        <% end %>
      </div>


</nav>




<div class="flex flex-row space-x-8 justify-center items-center mt-64 ">

  <div class="bg-[#D9D9D9] h-96 w-80 rounded-xl text-black flex flex-col justify-center text-center items-center "> 
    <%= image_tag("/images/cadastrar.png", class: "w-36 h-36 text-black text-4xl mb-4 items-center") %>



    <h1 class="font-bold text-4xl  trucante hover:text-[#FAB300]">
    <%= button_to "VAGAS DISPONÃVEIS", vagas_disponiveis_candidato_path(@candidato.id), method: :get,class: "font-bold text-4xl  trucante "  %>
  
    </h1>
  </div>

  <div class="bg-[#D9D9D9] h-96 w-80 rounded-xl text-black flex flex-col justify-center text-center items-center ">
    <%= image_tag("/images/planilha.png", class: "w-36 h-36 text-black text-4xl mb-4 items-center") %>

    <h1 class="font-bold text-4xl  trucante  hover:text-[#FAB300]">
   
    <%= button_to " MINHAS CANDIDATURAS", minhas_candidaturas_path, method: :get,class: "font-bold text-4xl  trucante "  %>

    </h1>

  </div>

</div>