 <div class="actions mt-4 abosute z-1 top-6 left-0">
  <%= link_to '← Voltar', candidatos_dashboard_path, class: "w-36 text-center  text-black font-bold py-2 px-4 underline" %>
</div>


<div class="mt-16 p-4">
  <h2 class="text-3xl font-medium text-black text-center mb-2">Vagas Disponíveis</h2>
  
  <div class="space-y-4">
    <% @vagas.each do |vaga| %>
      <div class="flex-row flex justify-between  items-center rounded-lg  bg-[#D9D9D9]">
        <div class=" p-4 ">
          <h3 class="text-2xl font-bold"><%= vaga.titulo %></h3>
          <p><strong>Salário:</strong> <%= vaga.salario %></p>
          <p><strong>Localização:</strong> <%= vaga.localizacao %></p>
          <p><strong>Descrição:</strong> <%= vaga.descricao %></p>
          <div class="flex flex-row space-x-4">
            <%= link_to 'Ver detalhes', vaga_path(vaga), class: "text-black underline font-bold " %>
          
          </div>
        </div>
        <div class="text-center py-3 px-14 bg-black rounded-xl mr-19">
          <%= link_to 'Inscreve-se', new_vaga_candidatura_path(vaga), class: "text-white font-light " %>
        </div>
      </div>
    <% end %>
  </div>

</div>